body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #1565c0;
    color: white;
    text-align: center;
    padding: 25px;
}

nav {
    background-color: #333;
    text-align: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #1565c0;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
